.welcome-page-container {
  /* background-color: rgba(241,243,244); */
  color: #121212;
  font-family: 'Shabnam', sans-serif;
}

.welcome-header {
  background-color: rgba(245,245,245);
  height: 60px;
  border-bottom: 1px solid rgba(113, 113, 113, 0.38);
}


.website-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.website-logo-img {
  height: 32px;
  width: auto;
}

.website-brand-text {
  font-size: 18px;
  letter-spacing: 2px;
  color: rgba(51, 54, 88);
}

.search-box {
  max-width: 400px;

}

.search-input {
  border-radius: 12px;
  padding: 0.4rem 1rem;
  font-size: 14px;
}

.welcome-subheader {
  background-color: #ffffff;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
}

.section-title {
  font-size: 16px;
  color: #666;
}

.user-icon, .menu-icon , .help-icon{
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.user-icon:hover, .menu-icon:hover {
  opacity: 1;
}
