.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.line {
  width: 80px;
  height: 2px;
  background-color: black;
  position: absolute;
}
