/* =========================== main box =========================== */
.welcomePageMainBox {
  position: absolute;
  z-index: 2;
  top: 20%;
  /* top: 14%; */
  right: 7%;

  width: 85%;
  height: 70%;
  /* height: 80%; */
  /* box-sizing: border-box; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(145, 135, 201, 0.04);
  backdrop-filter: blur(3px);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    inset 0 0 10px rgba(255, 255, 255, 0.1);

  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.icons {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.welcomePageicons {
  z-index: 100;
  width: 25px;
  height: 25px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.welcomePageicons:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.welcomePageicons.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.WelcomePageTitle {
  font-size: 95px;
  font-weight: bold;
  color: #93ceff;
  margin-bottom: 10px;
}

.welcomePageMainBoxHeading {
  font-size: 28px;
  font-weight: bold;
  color: #dad9e9fc;
  margin-bottom: 2rem;
}

.welcomePageMainBoxDescription {
  color: #ffffffa8;
  font-size: 15px;
  text-align: center;
  margin-bottom: -10px;
}

/* =========================== buttons =========================== */
.welcomePageMainBoxStartBtn {
  display: inline-block;
  width: 250px;
  height: 55px;
  padding: 12px 28px;
  margin-top: 50px;
  /* box-sizing: border-box; */

  font-size: 16px;
  font-weight: 400;
  color: #e3ebfae4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: #5a8bb3;
  border-radius: 8px;
  background-origin: border-box;
  background-clip: padding-box, border-box;

  cursor: pointer;
  transition: all 0.3s ease;
}

.welcomePageMainBoxStartBtn:hover {
  background: #4366aca8; 
  color: #ffffff;
}

/* =========================== popup overlay =========================== */
.welcomePageMainBoxBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.05);
}

.welcomePageMainBoxBodyOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomePageMainBoxBodyPopupCard {
  position: relative;
  z-index: 2;
  pointer-events: all;

  width: 55%;
  height: 93%;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;

  padding: 4rem 4rem 1rem 4rem;
  overflow-y: auto;

  background: #A2A1AC;
  border-radius: 3px;
  box-shadow: 0 4px 20px rgba(60, 60, 60, 0.2);
  text-align: center;
}

.welcomePagePopupCardCloseIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 200;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.welcomePagePopupCardCloseIcon:hover {
  transform: scale(1.08);
  opacity: 0.7;
}

/* ======================== Input Fields ======================== */
.gameNameInputSm {
  border-radius: 8px;
  padding-right: 1rem;
  background: #ffffffab;
}

.gameNameInputSm::placeholder {
  font-size: 0.8rem;
  color: rgb(46, 46, 46);
}

.gameNameInputSm:focus,
.gameNameInputSm:focus-visible {
  outline: none !important;
  background: #ffffffd1;
  box-shadow: none !important;
}

/* =========================== popup content: step=2 =========================== */
.welcomePageUploadSection {
  width: 90px;
  height: 110px;
  margin-right: 1rem;
}

.welcomePageUploadPreviewWrapper {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f1f1f1;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameTitle {
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.welcomePageUploadPreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcomePageUploadPlaceholderIcon {
  width: 32px;
  opacity: 0.5;
}

.welcomePageUploadSelectLabel {
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  color: #2435b9d6;
}

.welcomePageUploadSelectLabel:hover {
  color: #4000ff;
  
  font-weight: 500;
}

.welcomePageDeleteImageTextBtn {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.75rem;
  color: #5e5e5e;
  cursor: not-allowed;
  transition: color 0.2s ease;
}

.welcomePageDeleteImageTextBtn:hover {
  color: #000000;
  font-weight: 500;
}

/* =========================== stepper =========================== */
.welcomePageStepperContainer {
  display: flex;
  width: 100%;
  margin: 0 auto 2rem;
}

.welcomePageStepperItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.welcomePageStepperCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: #171c6935;
  color: #ccc;
  font-weight: bold;

  transition: all 0.3s ease;
}

.welcomePageStepperLabel {
  margin-top: 0.5rem;
  font-size: 13px;
  color: #3441658e;
}

.welcomePageStepperFirstLine {
  height: 1.5px;
  border-radius: 12px;
  background-color: #292f7142;
  flex: 1;
  margin-top: 15px;
  margin-right: -15px;
  margin-left: 5px;
  z-index: 1;
}

.welcomePageStepperSecondLine {
  height: 1.5px;
  border-radius: 12px;
  background-color: #292f7142;
  flex: 1;
  margin: 15px 6px;
  z-index: 1;
}

.welcomePageStepperFirstLine.active {
  background-color: #1a0e5bb5;
}

.welcomePageStepperSecondLine.active {
  background-color: #211275b5;
}

.welcomePageStepperItem.active .welcomePageStepperCircle {
  background-color: #171c69;
  color: rgba(255, 255, 255, 0.815);
}

.welcomePageStepperItem.active .welcomePageStepperLabel {
  color: #0f2152;
}

/* =========================== product option checkboxes: step=1 =========================== */
.welcomePagePopupTitle {
  font-size: 1rem;
  text-align: right;
  color: #333;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.welcomePageProductOptionsList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: right;
  padding-top: 0.5rem;
}

.welcomePageProductOption {
  position: relative;
  padding: 1rem 2rem;
  color: rgba(107, 84, 165, 0.558);
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s ease;
  background-color: #f7f5f5b9;
  box-shadow: 0 2px 2px rgb(160, 159, 202);
}

.welcomePageProductOption input {
  display: none;
}

.welcomePageProductOption .checkmark {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  width: 19px;
  height: 19px;
  border: 1px solid #525252;
  border-radius: 4px;
  background: white;
  transition: all 0.3s ease;
}

.welcomePageProductOption.checked {
  background-color: #f1f1f1;
  border-color: rgb(83, 70, 155);
  color: rgb(107, 84, 165);
  font-weight: 600;
  padding: 1.2rem;
  box-shadow: 0 2px 5px rgba(86, 64, 166, 0.6);
}

.welcomePageProductOption.checked .checkmark {
  background-color: rgb(107, 84, 165);;
  border-color: rgb(86, 68, 165);
}

.welcomePageProductOption.checked::before {
  content: "✔";
  position: absolute;
  left: 1.25rem;
  top: 55%;
  transform: translateY(-50%);
  font-size: 12px;
  color: white;
  z-index: 1;
}

/* =========================== success message =========================== */
.welcomePageStepSuccessContainer {
  text-align: center;
}

.welcomePageSuccessIconWrapper img {
  width: 150px;
  height: 150px;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.welcomePageSuccessTextTitle {
  font-size: 1.2rem;
}

/* =========================== token and SDK link success: step=3 =========================== */
.welcomePageSuccessTextExplain {
  font-size: 12.5px;
  padding: 1rem 2.5rem;
}

.welcomePageSdkDownloadLink {
  color: #3c29a3 !;
  font-weight: 400;
  transition: color 0.3s;
  font-size: 13px;
}

.welcomePageAccessTokenBox {
  background-color: #f0f0f6;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: monospace;
  text-align: left;

  margin-right: 15%;
  margin-bottom: 1.5rem;
  direction: ltr;
  width: 500px;
  display: block;
}

.welcomePageAccessTokenLabel {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.welcomePageAccesTokenInsideBox {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.welcomePageTokenValue {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.784);
  padding: 8px 12px;
  border-radius: 5px;
  font-family: monospace;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #ccc;
  color: #333;
  font-size: 13px;
}

.welcomePageTokenValue::-webkit-scrollbar {
  height: 7px;
}

.welcomePageTokenValue::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.welcomePageTokenValue::-webkit-scrollbar-thumb {
  background: #bdbecc;
}

.welcomePageTokenValue::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 169, 169);
}

.welcomePageTokenCopyIconImg {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
  transition: filter 0.3s ease;
  cursor: pointer;
  filter: brightness(1.1);
}

.welcomePageTokenCopyIconImg:hover,
.welcomePageTokenCopyIconImg:focus,
.welcomePageTokenCopyIconImg:active {
  filter: brightness(0.95);
}

.welcomePageCopyIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomePageCopyDoneMsgTooltip {
  position: absolute;
  bottom: 120%;
  left: 1px;
  font-family: "Shabnam";

  transform: translateX(-50%);
  background-color: #686d80;
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  animation: tooltipFade 2s ease forwards;
  z-index: 10;
}

@keyframes tooltipFade {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

/* =========================== step 2 inputs =========================== */
.step2Compact .popup-options label {
  font-size: 14px;
}

.step2Compact .popup-options input,
.step2Compact .popup-options textarea {
  margin-bottom: 3rem;
}

.engine-disabled-option {
  pointer-events: none;
  opacity: 0.5;
}

/* =========================== token and SDK link =========================== */
.welcomePageTokenNote {
  font-size: 12px;
  color: #5e5e5e;
}

/* =========================== continue button =========================== */
.welcomePageProductButtonsRow {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.welcomePageContinueBtn {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 130px;
  padding: 0.6rem;
  font-size: 15px;
  color: #c4c4c4;

  background-color: #24247bdb;  
  border: none;
  border-radius: 12px;
  filter: brightness(1.4);
  transition: all 0.3s ease;
}

.welcomePageContinueBtn:hover,
.welcomePageContinueBtn:focus,
.welcomePageContinueBtn:active {
  background-color: #362e7afe;
  filter: brightness(1.1);
  color: white !important;
  cursor: pointer;
  outline: none;
}

.welcomePageContinueBtn:disabled {
  opacity: 0.6;
}

.welcomePageRadioGroupGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.radioLabel input[type="checkbox"] {
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
}

.disabled input[type="checkbox"] {
  cursor: not-allowed;
}

.welcomePageRadioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;

  /* THESE 3 LINES MAY BE AS COMMENT */
  /* font-family: "Aboreto", sans-serif; */
  /* font-size: medium; */
  /* font-weight: bold; */
}

.welcomePageEngineDisabledOption {
  opacity: 0.5;
  /* cursor: not-allowed; */
}

/* حالت عادی چک‌باکس (غیرdisabled) */
.welcomePageRadioLabel input[type="checkbox"] {
  cursor: pointer;
}

/* حالت غیرفعال چک‌باکس (disabled) */
.welcomePageRadioLabel input[type="checkbox"]:disabled {
  cursor: default; /* یا cursor: not-allowed; */
  opacity: 0.6;/
}

.welcomePageErrorPlaceholder {
  margin-top: 10px;
  font-size: 15px;
}
