.container {
  width: 100vw;
  height: 100vh;

  /* V1 */
  /* background-color: rgb(255, 255, 255); */

  /* V2 */
  /* background-color: rgb(23, 18, 47);  */
  
  background-color: rgb(33, 29, 55); 

/* background-color: #0e0020; */

  position: relative;
  overflow: hidden;
}

.line {
  height: 1px;
  background: linear-gradient(90deg, #8a2be2, #00bfff);
  position: absolute;
  left: -50px;
  z-index: 1;
}
