.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* آیتم‌ها وسط عمودی */
  padding: 80px 20px;        /* ارتفاع بخش رو با padding تنظیم کن */
}

.title {
  font-size: 28px;
  margin-top: -10%;
  margin-bottom: 5rem; /* حالت پیش‌فرض برای موبایل/تبلت */
  color: white;
}

@media (min-width: 1024px) { /* لپ‌تاپ و بزرگ‌تر */
  .title {
    margin-bottom: 8rem; /* فاصله کمتر روی لپ‌تاپ */
  }
}


/* ======================= Steps Container Grid ======================= */
.stepsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 100px; 
}

/* ======================= Single Step Item ======================= */
.stepItem {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* ======================= Step Icon (responsive) ======================= */
.icon {
  width: 10vw;         /* ۱۰٪ عرض صفحه */
  max-width: 130px;    /* روی دسکتاپ بیش از این نشه */
  min-width: 100px;     /* روی موبایل کمتر از این نشه */
  height: auto;

  margin-bottom: 16px;
}


/* ======================= Step Title ======================= */
.stepTitle {
  font-size: 18px;
  margin-bottom: 8px;
}

/* ======================= Step Description ======================= */
.stepDescription {
  font-size: 14px;
  opacity: 0.8;
}