/* .sidebar {
  width: 240px;
  background-color: #151924;
  color: white;
  padding: 2rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100%;
  min-height: 100vh;
} */

.sidebar {
  width: 240px;
  background-color: #151924;
  color: white;
  padding: 2rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  /* height: 100%; */
}


.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.brandText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #66ccff;
  margin-right: 1rem;
}

.logoImg {
  height: 32px;
  width: auto;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 0.8rem;
  margin-bottom: 0.4rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
