/* این کلاس پدر نسبی دایره است */
.circleSection {
  position: relative;
  height: 100vh;
  z-index: 2;
}

.planetContainer {
  position: absolute;
  top: 30%;          /* ✅ پایین‌تر از وسط */
  left: 75%;         /* ✅ متمایل به راست */
  transform: translate(-50%, -50%);
  width: clamp(180px, 28vw, 650px);  /* ✅ اندازه‌ی تطبیق‌پذیر با حداکثر محدودیت */
  height: clamp(180px, 28vw, 650px);
  z-index: 5;
  pointer-events: none;
}

@media (max-width: 600px) {
  .planetContainer {
    top: 30%;
    left: 75%;
  }
}


  
  .planetDotted {
    stroke: #ffffff;
    stroke-width: 2;
    stroke-dasharray: 6 10;
    stroke-linecap: round;
    fill: none;
  }
  
  .planetDottedAnimated {
    stroke: white;
    stroke-width: 12;
    fill: none;
    stroke-dasharray: 1130;     /* محیط دایره با r=180 */
    stroke-dashoffset: 1130;
  }

  .movingDotLilac {
    fill: rgba(144, 115, 175);
    stroke: none;
    r: 17;
    filter: drop-shadow(0px 10px 20px rgba(144, 115, 175, 0.5));
    opacity: 0
  }

  .movingDotGray{
    fill: rgba(193, 202, 220);
    stroke: none;
    r: 12;
    filter: drop-shadow(0px 1px 20px rgba(193, 202, 220, 0.7));
    opacity: 0
  }
  