
.landingPage {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #0c0b1f;
}

.landingBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 570vh;
  max-height: 600vh;
  z-index: 0;
}

.landingContent {
  position: relative;
  z-index: 2;
  padding: 20px;
  width: 100%;
  margin-top: 80px; /* to give space for fixed navbar */
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 24px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}

.circleSection {
  background: transparent;
}

.carouselSection {
  background: linear-gradient(to bottom, #0c0b1f, #0e1a38);
  padding-top: 100px;
}

.section3, .section4, .section5, .section6, .section7 {
  background: #0c0b1f;
}

.hiddenOnLoad {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .mainSection {
    gap: 60px;
    padding: 0 16px;
  }

  .section {
    padding: 60px 16px;
  }
}
