.planetContainer {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: clamp(180px, 28vw, 650px);
  height: clamp(180px, 28vw, 650px);
  z-index: 5;
  pointer-events: none;
}

.planetDottedAnimated {
  stroke: white;
  stroke-width: 12;
  fill: none;
  stroke-dasharray: 1130;
  stroke-dashoffset: 1130;
}

.movingDotLilac {
  fill: rgba(144, 115, 175);
  r: 17;
  opacity: 0;
  filter: drop-shadow(0px 10px 20px rgba(144, 115, 175, 0.5));
}

.movingDotGray {
  fill: rgba(193, 202, 220);
  r: 12;
  opacity: 0;
  filter: drop-shadow(0px 1px 20px rgba(193, 202, 220, 0.7));
}
