/* LandingPage_v2.module.css */

.landingPage {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.landingBackground {
  width: 100%;
  max-height: 600vh;
  height: auto;
  object-position: center top;
  display: block;
  z-index: 1;
}

.landingContent {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
}

.landingHeader {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.logoImage{
  height: 50px;
  width: auto;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.signupBtn {
  background: #ddd;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn {
  background: none;
  border: none;
  color: white;
  font-weight: normal;
  cursor: pointer;
}

.fadeIn {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSlideIn 1s ease forwards;
}

.delay1 {
  animation-delay: 0.4s;
}

.delay2 {
  animation-delay: 0.8s;
}

.delay3 {
  animation-delay: 1.2s;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hiddenOnLoad {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.servicesSection {
  margin-top: 400px;
  padding: 80px 40px;
  text-align: center;
  color: white;
}

.mainSection {
  margin-top: 60px;
  text-align: center;
}

.subtext {
  margin-top: 20px;
  font-size: 1rem;
}

.servicesBtn {
  margin-top: 24px;
  padding: 10px 24px;
  background-color: #ffffff;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 24px 0;
}

.features li {
  margin: 8px 0;
}


.circleAnimated {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 10 10;      /* dashed style */
  stroke-dashoffset: 1000;      /* شروع کامل از مخفی */
  transform: rotate(-90deg);
  transform-origin: center;
  animation: drawDashed 3s steps(60) forwards;
  z-index: 3;
}

@keyframes drawDashed {
  to {
    stroke-dashoffset: 0;
  }
}


.planetContainer {
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 10; /* 👈 بالاتر از landingBackground که احتمالاً z-index پایین‌تری داره */
  pointer-events: none; /* اختیاری: جلوگیری از مزاحمت کلیک */
}

.planetDotted {
  stroke: #ffffff;
  stroke-width: 2;
  stroke-dasharray: 6 10;
  stroke-linecap: round;
  fill: none;
}

.planetDottedAnimated {
  stroke: white;
  stroke-width: 10;
  fill: none;
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
}
