.startContainer {
  text-align: center;
  padding: 40px 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
  color: white;
}

.stepsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 100px; /* عمودی، افقی */
}



.stepItem {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
} */

.icon {
  width: 8vw;   
  height: auto; 
  max-width: 100px; 
  min-width: 48px;  
  margin-bottom: 16px;
}


.stepTitle {
  font-size: 18px;
  margin-bottom: 8px;
}

.stepDescription {
  font-size: 14px;
  opacity: 0.8;
}
