.container {
    text-align: center;
    color: white;
    padding: 40px 20px;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 12px;
    color: rgba(217, 217, 217, 0.8); /* 👈 دقیقاً مطابق تصویر */
    font-weight: 500;
  }
  
  
  .subtitle {
    font-size: 14px;
    margin-bottom: 40px;
    opacity: 0.8;
  }
  
  .statsGrid {
    display: flex;
    flex-wrap: wrap; /* برای جمع شدن در موبایل */
    justify-content: center;
    gap: 32px; /* فاصله بین کارت‌ها */
    row-gap: 40px; /* فاصله عمودی بیشتر */
  }
  
  .card {
    background: #f2f2f2;
    color: #111;
    padding: 32px 24px;
    border-radius: 16px;
    font-size: 18px;
    width: 290px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
  
  
  
  .odometer {
    font-size: 28px;
    font-weight: bold;
    color: #111;
  }
  
  .label {
    margin-top: 8px;
  }
  
  .suffix {
    font-size: 14px;
    display: block;
    color: #444;
  }
  
  .subtitleWrapper {
    display: flex;
    justify-content: flex-start; /* ⬅️ از سمت راست در RTL شروع می‌شه */
    max-width: 1200px;           /* هم‌اندازه کل کارت‌ها */
    /* margin: 0 auto 40px auto;     */
  }
  
  .subtitle {
    font-size: 14px;
    opacity: 0.8;
    text-align: right;
  }
  