.cardContent {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 1rem 0; */
  /* left: 55%; */
  width: 80vh;
  /* width: 100%, */
  /* display: flex, */
  margin-left: 6rem;
  
  /* justifyContent: center, */
  /* alignItems: center, */
}

.chartContainer {
  /* width: 100%; */
  max-width: 500px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

}

.controls {
  /* margin-top: 1rem; */
  /* display: flex; */
  /* gap: 0.5rem; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* margin-right: 5rem; */
}

/* .button {
  padding: 0.35rem 0.75rem;
  background-color: #3b82f6;
  color: white;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #2563eb;
} */


.actionButtons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-right: 4.5rem;
}

.button {
  background: linear-gradient(135deg, #3f7bfc, #6c47ff);
  color: white;
  border: none;
  padding: 0.4rem 0.65rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* font-family: 'Vazir', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Vazir'; */

}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, #5a91ff, #8561ff);
}

.button:active {
  transform: scale(0.98);
}

