.forgot-page-container {
  background-image: url('/src/assets/images/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% center;
  background-color: #0e1a2b;
  height: 100vh;
  width: 100vw;
}

.website-logo-img {
  height: 32px;
  width: auto;
}

.website-brand-text {
  font-size: 18px;
  letter-spacing: 2px;
}

.forgot-box {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  height: auto;
}

.forgot-title {
  font-size: 2.5rem;
  color: rgba(11, 20, 75);
  margin-bottom: 1rem;
}

.forgot-input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  padding-right: 4rem;
  box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.16);
}

.forgot-input::placeholder {
  font-size: 0.9rem;
  color: rgba(29, 29, 29);
}

.forgot-email-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 20px;
  opacity: 1;
}

.forgot-btn {
  background: linear-gradient(to right, rgba(93, 27, 121), rgba(0, 113, 154));
  color: rgba(237, 237, 237);
  font-weight: bold;
  justify-content: space-between;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: none;
  display: flex;
  width: 50%;
}

.forgot-btn-text {
  font-size: 15px;
}
.forgot-btn:hover {
  background-color: #2e0a44;
}
