.header {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  background-color: #212040;
  border: 1px solid rgba(255, 255, 255, 0.295);
  box-shadow: inset 8px 0 13px rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.inner {
  display: flex;
  align-items: center; /* وسط‌چین عمودی */
  justify-content: space-between; /* فاصله بین عناصر */
  gap: 1rem;
}

.calendarbox {
  /* flex: 0 0 25%; */
  /* width: 350px; */
  /* padding: 10px 15px; */
}

.title {
  font-weight: 600;
  margin: 0;
  color: #ffffffd2;
  flex: 1; /* بقیه فضا رو پر کنه */
  text-align: right; /* متن سمت راست */
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center;
  justify-items: center; */
  /* align-items: center; */
}

/* ===== Responsive Breakpoints ===== */

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
    /* text-align: center; */
    width: 100%;
  }
}


@media (min-width: 481px) and (max-width: 614px) {
  .title {
    font-size: 1.4rem;
  }

  .calendarbox {
    flex: 0 0 70%;
    /* width: 285px; */
  }

}


@media (min-width: 615px) and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .calendarbox {
    /* flex: 0 0 70%; */
    width: 285px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 1.6rem;
  }

  
  .calendarbox {
    /* flex: 0 0 40%; */
    width: 285px;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  .title {
    font-size: 1.8rem;
  }

  
  .calendarbox {
    flex: 0 0 35%;
  }

}

@media (min-width: 1281px) {
  .title {
    font-size: 2rem;
  }

  
  .calendarbox {
    /* flex: 0 0 25%; */
    width: 370px;
  }

}
