/* .container {
  align-items: stretch;
  background-color: #f5f6fa;
  min-height: 100%;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
} */


.container {
  display: flex;
  flex-direction: row; /* محتوای اصلی و سایدبار کنار هم */
  background-color: #f5f6fa;
  min-height: 100vh; /* تمام صفحه */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background-color: #151924;
  color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
