.analysisToolsWrapper {
  flex-direction: row; 
  width: 100%;
}

/* .imageContainer {
  justify-content: center;
  right: 55%;
  position: relative;
  bottom: 38%;
} */

.textContent {
  position: relative;
  right: 8%;
  top: 10%;
  max-width: 40%;
}

.illustrationImage {
  max-width: 35%;
  height: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  color: white;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #cccccc;
  line-height: 2;
  margin-bottom: 2rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 25px 24px;
  margin-bottom: 2rem;
}

.serviceItem {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 0.95rem;
  color: #e0e0e0;
  white-space: nowrap;
}

.serviceItem:nth-child(5) {
  grid-column: span 2;
  margin-right: 9rem;
}

.serviceItem img {
  width: 28px;
  height: 28px;
}

.containerctaButton {
  position: absolute;
  top: 50%;
  right: 41%;
}

.ctaButton {
  padding: 10px 24px;
  background: none;
  color: #ffffff;
  border: 1px solid #63c6e4;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ctaButton:hover {
  background-color: #63c6e4;
  color: #0c0b1f;
}

@media (max-width: 768px) {
  .analysisToolsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .textContent {
    text-align: center;
  }

  .servicesGrid {
    grid-template-columns: 1fr;
  }
}


@keyframes slideRightBox {
  from {
    transform: translateX(-100%); /* از چپ شروع کن */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* در جای اصلی بایسته */
    opacity: 1;
  }
}

.imageContainer {
  position: relative;
  justify-content: center;
  right: 55%;
  bottom: 38%;
  max-width: 380px; 
}

.boxWrapper {
  position: relative;
  z-index: 1;
}

.boxImage {
  width: 100%;
  min-width: 125%;
  min-height: 120%;
}

.topbarImage {
  position: absolute;
  top: 0;
  left: -16.9%; 
  width: 100%;
  min-width: 107.39%;
  z-index: 2;
}

.firstChatImage {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 300px;
  z-index: 3;
}

.secondChatImage {
  position: absolute;
  top: 41%; /* فاصله نسبت به firstChat تنظیم کن */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 300px;
  z-index: 3;
}

.thirdChatImage {
  position: absolute;
  top: 65%; /* بستگی به ارتفاع چت‌های قبلی داره */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 300px;
  z-index: 3;
}



.firstChatProfile {
  position: absolute;
  top: 19%;
  /* right: 10%;  */
  width: 20%;
  z-index:4;
}

.secondChatProfile {
  position: absolute;
  top: 44%;
  /* right: 10%; */
  width: 20%;
  z-index: 4;
}

.thirdChatProfile {
  position: absolute;
  top: 67%;
  /* right: 10%; */
  /* width: 40px; */
  width: 20%;
  z-index: 4;
}
